/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/

/*general styling*/
*:focus {
  outline: 0;
}

body {
  color: #404041;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: .75em;
}

/*button styling*/
button {
  background-color: #6E6E6E;
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 1em;
  padding: 5px;
  width: 30%;
}

button:hover {
  background-color: #DD1972;
}

input#submitguessbutton:hover {
  background-color: #DD1972;
}

input#submitguessbutton {
  background-color: #6E6E6E;
  padding: 5px;
  border-radius: 12px;
  width: 30%;
  color: #FFFFFF;
}

.update {
  width: 100px;
  height: 23px;
  margin-top: 10px;
  margin: 10px;
}

p {
  margin: 5px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/*header styling*/
.header {
  background-color: #404041;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 125px;
  width: 100%;
  text-align: center;
}

/*body styling*/
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-section {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  width: 100%;
}

.right-section { 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #D8D8D8;
  width: 100%;
  color: #505050;
}

.left-section-top {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #E8E8E8;
  padding: 10px;
  margin: 10px;
}

.range-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.minrange-div {
  width: 100%;
}

.maxrange-div {
  width: 100%;
}

.left-section-middle {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  border: 1px solid #E8E8E8;
  padding: 10px;
  margin: 10px;
}

.currentrange-div {
  display: flex;
  flex-direction: row;
}

.challenger-one-div {
  display: flex;
  flex-direction: row;
}

.challenger-two-div {
  display: flex;
  flex-direction: row;
}

.left-section-bottom {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #E8E8E8;
  padding: 10px;
  margin: 10px;
}

.left-section-left-bottom, .left-section-right-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-around;*/
}

.justify-space {
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.result-div {
  width: 100%;
}

#minvalue, #maxvalue{
  font-weight: 700;
  text-decoration: underline;
}

.cards {
  background-color: white;
  border: 1px solid #C0C0C0;
  width: 60%;
  height: 20%;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

/*font styling*/
.dark-pink-font {
  color: #DD1972;
  font-size: 3.5em;
  text-align: center;
  font-weight: bold;
}

.light-pink-font {
  color: #F74D9B;
  font-size: 3.2em;
  font-weight: 700;
} 

.subheading-text {
  color: white;
  font-size: .5em;
}

#guessedfont {
  font-size: 1em;
  font-weight: 300;
}

#result-comment {
  font-size: 11px;
  font-weight: 700;
}

/*error message styling*/
#error-message {
  color: #DD1972;
  font-size: 14px;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

#pink-error-img {
  height: 11px;
  width: 11px;
}


