/*General font styles*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800');

body {
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

p {
  margin: 5px;
}

span {
  margin: 5px;
}

.light-font {
  font-weight: 300;
}

.bold-font {
  font-weight: 700;
}

.dark-pink-font {
  color: #DD1972;
  font-size: 60px;
  font-weight: bold;
}

.light-pink-font {
  color: #F74D9B;
} 

.dark-grey-font {
  color: #404041;
}

/*Specific font styles*/
.title-text {
  font-size: 60px;
  position: inline-block;
  text-align: center;
  }

.title-guesser-text {
  font-size: 60px;
}

.subheading-text {
  color: white;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
}

.horizontal-line {
  justify-content: center;
}

/*General button styles*/
.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

button {
  background-color: #6E6E6E;
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 12.5px;
  height: 31px;
  width: 145px;
}

button:hover {
  background-color: #DD1972;
}

button:focus {
  outline: 0;
}

input:focus {
  border: 1.5px solid #D8D8D8;
  outline: none;
}

/*
Specific button styles*/
#submitguessbutton {
  background-color: #6E6E6E;
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 12.5px;
  height: 31px;
  margin: 5px;
  width: 145px;
}

#submitguessbutton:hover {
  background-color: #DD1972;
}

.update {
  height: 31px;
  width: 130px;
  margin-top: 16.5px;
  padding: 3px;
}

.remove-cards {
  height: 31px;
  margin: 20px;
  margin-top: 16.5px;
  right: 0;
  width: 130px;
}

.x-button {
  background-color: #6E6E6E;
  border-radius: 50%;
  color: #D8D8D8;
  height: 19.5px;
  text-align: center;
  width: 19.5px;
}

/*Header styles*/
.header {
  align-items: center;
  background-color: #404041;
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  justify-content: center;
  width: 100%;
}

/*Body styles*/
.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.left-section {
  background-color: #F5F5F5;
  width: 50%;
}

.left-section-top {
  background-color: white;
  border: 1px solid #E8E8E8;
  margin: 10px;
  padding: 10px;
}

.range-div {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

#minvalue, #maxvalue{
  font-weight: 700;
  text-decoration: underline;
}

.left-section-middle {
  background-color: white;
  border: 1px solid #E8E8E8;
  display: flex;
  flex-flow: column wrap;
  margin: 10px;
  padding: 10px;
}

.current-range-div {
  display: flex;
  text-align: left;
  flex-flow: row wrap;
}

.challenger-1-and-2-div {
  text-align: left;
  margin: 20px;
}

.challenger-1-div {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.challenger-2-div {
  align-items: center;
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name-input-box {
  height: 25px;
  width: 260px;
}

.guess-input-box {
  height: 25px;
  width: 170px;
}

.range-input-box {
  height: 25px;
  width: 150px;
}

.three-buttons-div {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.left-section-bottom {
  background-color: white;
  border: 1px solid #E8E8E8;
  margin: 10px;
  padding: 10px;
}

.challengers-div {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 5px;
  text-align: center;
  width: 100%;
}

.challenger-1-bottom-section {
  display: flex;
  flex-flow: column wrap
}

.challenger-2-bottom-section {
  display: flex;
  flex-flow: column wrap
}

.right-section { 
  background-color: #D8D8D8;
  color: #505050;
  flex-flow: column;
  width: 50%;
}

.cards {
  background-color: white;
  border: 1px solid #C0C0C0;
  font-size: 17px;
  height: 160px;
  justify-content: center;
  margin: 20px;
  padding: 5px;
  text-align: center;
  width: 400px;
}

/*Error message styles*/
#error-message {
  color: #DD1972;
  font-size: 14px;
}

#pink-error-img {
  height: 11px;
  width: 11px;
}

/*Vertical line break*/
#vl {
  border-left: 1px solid #cccccc;
  display: inline-block;
  height: 100px;
}

/*White line*/
.second-head {
  border-bottom: 3px solid #ffffff;
  line-height: 0.35em;
  margin: 10px 0 20px;
  text-align: center;
  width: 30px;
}

#second-head {
   background:#404041;
   color: white;
   display: inline;
   font-size: 23px;
   font-weight: normal;
   padding:0 10px;
}

/*Media queries*/
@media screen and (max-width: 660px) {
  .left-section, .right-section {
    display: block;
    width: 100%;  
  }
  .three-buttons-div {
    flex-flow: row nowrap;
  }
}

@media screen and (max-width: 580px) {
  #vl {
    height: 0px;
  }
  .challengers-div {
    flex-flow: row nowrap;
  }
  .name-input-box {
    width: 225px;
  }
  .title-text {
    font-size: 33px;
  }
  .subheading-text {
    font-size: 17px;
  }
  .left-section-middle {
    display: block;
  }
}

@media screen and (max-width: 445px) {
  .cards {
    width: 280px;
  }
}
